<% if taxon.product_group %>
  <li id="<%= taxon.id %>" class="has-product-group" rel="taxon">
    <a href="#"><%= taxon.name %></a> 
    -- <%= "#{taxon.product_group.group_type}[#{taxon.product_group.name}]" %></span>
<% else %>
  <li id="<%= taxon.id %>" rel="taxon">
    <a href="#"><%= taxon.name %></a> 
<% end %>
  <% if taxon.children.length > 0 %>
    <%= render :partial => "taxons", :locals => {:taxon => taxon} %>
  <% end %>
  </li>
