<table class="index">
  <tr>
    <th><%= t("sku") %></th>
    <th><% #= order_by_link :name, :text => t("name") %></th>
    <th>&nbsp;</th>
  </tr>
<% product_group.products.each do |product| %>
  <tr id="<%= dom_id(product, :sel) %>">
    <td><%= product.sku %></td>
    <td><%= product.name %></td>
    <td class="actions">
      <%= image_tag "spinner.gif", :style => "display:none", :id => "#{dom_id(product, :rem_spinner)}" %>		                         
      <%= link_to_remote icon('delete') + ' ' + t('remove'), 
	  {:url => remove_admin_product_group_product_url(product_group, product),
      :method => 'DELETE',
      :loading => "Element.show('#{dom_id(product, :rem_spinner)}')",
      :update => 'selected-products',
      :complete => "Element.remove('#{dom_id(product, :sel)}'); Element.hide('#{dom_id(product, :rem_spinner)}');"}, :class => 'iconlink' %>
    </td>
  </tr>
<% end %>
</table>
